body {
    background-image:url('https://res.cloudinary.com/dxujeg5en/image/upload/v1656401602/thumb-1920-1072652_r7pzdy.jpg');
    height: 100vh;
    background-size: cover; 
}
.netflixlogo{
    margin:17px;
    margin-bottom:20px;
    
}
a{
    text-decoration: none;
}
.btnstyle{
    color: white;
    padding: 9px;
    border:none;
    background-color: red;
    border-radius: 5px;
    margin: 17px;

}
.btnstyle:hover{
    box-shadow: 0 0 50px black;
}
.btnstyle1 {
 color: white;
 padding: 9px;
 border: solid ;
 border-width: 1px;
 border-color: white;
 background-color: #ffffff00;
 border-radius: 5px;
 margin:17px;
}
.btnstyle1:hover{
    box-shadow: 0 0 50px black;
}
.Moneyhiest{
  margin-top:6% ;
  margin-left: 5%;
}
span{
    color: gray;
}
.stylebtn{
    width: 15%;
    border:none;
    font-size: 20px;
    color: white;
    background-color: red;
    padding: 15px;
    margin: 8px;
    border-radius: 3px;

}
.stylebtn:hover{
    box-shadow: 0 0 50px black;
}
